{% extends 'base.html' %}
{% block content %}
  <h2>{colour} + {palette} = a place for all my favourite colours</h2>

  <div id="form-container">
    <form id="add-color-form" method="POST">
     {{ form }}
     {% csrf_token %}
  	 <button id="submit-color" type="submit">Save</button>   
  	</form>     
  </div>
 <!--  <ul id="color-list">
    {% for colour in colours %}
      <li>
        <div class="color-container">
          <div class="color-circle" style="background-color:#{{ colour.hex }}"></div>
          <span class="color-text">#{{ colour.hex }}</span>
        </div>
      <li>
    {% endfor %}
  </ul> -->
{% endblock %}

